.about {
  width: 255px;
  height: 149px;
  line-height: 1.44;
  color: @black;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 490px;
    line-height: 1.86;
    margin-top: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 490px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 55px;
  }
}

.about__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @black-three;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 21px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 490px;
    margin-bottom: 26px;
    line-height: 1.24;
  }
}

.about__text {
  font-size: 14px;
  line-height: 1.86;

  @media (min-width: @tablet-width) {
    min-width: 428px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 490px;
  }
}
