.advantages {
  width: 320px;
  margin: 0 auto;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.advantages__wrapper {
  width: 100%;
}

.advantages__list {
  font-size: 14px;
  line-height: 1.5;
  color: @white;
  list-style: none;
  padding: 0;


  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.advantages__item {
  box-sizing: border-box;
  padding: 20px;
  background-color: @light-grey-blue;
  position: relative;



  &--blue-back {
    color: @white;
    padding-top: 44px;
    padding-bottom: 38px;
    display: block;

    &:nth-child(even) {
      padding-top: 21px;
      padding-left: 18px;
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 37px;
      position: absolute;
      background: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 37px;
      top: -15px;
      left: 0;
    }

  &:nth-child(even)::before {
    display: none;
  }

  }

  &--grey-back {
    color: @black;
    background-color: @light-grey;
    padding: 0;

  }

  &:nth-child(odd) {

    &:before {

    }
    &::after {

    }

  }

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    display: block;
    width: 256px;
    height: 256px;

    &--blue-back {
      padding: 40px 45px;

      &::before {
        display: none;
      }
    }

    &--grey-back {
      padding: 40px 45px;
    }

    &:nth-child(n+4):not(.advantages__image--bridge) {
      order: 1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding-top: 54px;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: inherit;
  margin: 0;
  padding-top: 18px;

  &--grey-back {
    padding-top: 30px;
    min-width: 207px;
  }

  &--border {
    width: 280px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 33px;
    border-top: solid 1px @grey;
  }

  @media (min-width: @tablet-width) {
    width: 151px;
    font-size: 21px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    line-height: 1.24;
  }
}

.advantages__description {

  margin: 0;

  &--grey-back {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    min-width: 162px;
  }

  @media (min-width: @desktop-width) {
    width: 265px;
    margin: 0 auto;
  }
}

.advantages__number {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 17px;

  &--grey-back {
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 8px;
    margin-bottom: 23px;
  }
}

.advantages__image-wrapper {
  background-color: @faded-blue;
  width: 320px;
  height: 260px;
  object-fit: contain;
  position: relative;


  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    overflow: hidden;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 800px;
    position: absolute;
    top: -27%;
  }
}
