.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__wrapper {
  width: 100%;
}

.advantages__list {
  font-size: 14px;
  line-height: 1.5;
  color: @white;
  list-style: none;
  padding: 0;
}

.advantages__item {
  padding: 20px;

  &--blue-back {
    background: url("../img/bg-triangle.svg");
    background-color: @light-grey-blue;
    background-repeat: no-repeat;
    background-position: 0px -22px;
  }

  &--grey-back {
    color: @black;
    background-color: @light-grey;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;

}

.advantages__image {
  background-color: @light-grey-blue;
  width: 320px;
  height: 260px;
  object-fit: contain;

  &--city {
    background: url("../img/photo-city-1-x.png");
    background-position: -100px;
  }

  &--bridge {
    background: url("../img/photo-bridge-1-x.png");
    background-position: -100px;
  }
}
