.contacts {
  width: 136px;
  height: 16px;
  color: @black-three;
  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }
}

.contacts__text {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: @black-three;
  margin-left: 91px;
  margin-right: 93px;
  @media (min-width: @tablet-width) {
    display: block;
    width: 136px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: @black-three;
    margin-left: 0px;
    margin-right: 0px;
  }
}
