.copyright {
  box-sizing: border-box;
  padding-top: 9px;


  @media (min-width: @tablet-width) {
    min-width: 150px;
    height: 55px;
    padding-left: 21px;
    padding-top: 11px;
  }
}

.copyright__text {
  display: inline-block;
  width: 91px;
  font-size: 14px;
  line-height: 1.86;
  color: @black-three;
  font-weight: normal;
  margin-left: 5px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: baseline;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    margin-left: 0;
    padding-right: 15px;
  }
}

.copyright__link {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  height: 34px;
  margin-left: 4px;
  margin-top: -3px;
}

.copyright__logo {
  display: block;
  box-sizing: border-box;
  width: 27px;
  height: 34px;
  fill: @black-two;

  &:hover {
    fill: @light-grey-blue;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: baseline;
  }
}
