.fieldset {
  border: none;
	&__legend {
    font-weight: bold;
    font-size: 18px;
	}
	&__label {
    width: 36px;
    height: 11px;
    font-size: px;
    line-height: 1.86;
    color: @black;
	}
	&__input {
  width: 69px;
  height: 13px;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;

  line-height: 1.44;

  color: @black-two;
	}
	&__radio {
	}
	&__checkbox {
	}
	&__textarea {
	}
	&--user-name {
	}
	&--contacts {
	}
	&--impression {
	}
	&--attractions {
	}
	&--emotions {
	}
}
