input[type="radio"]:checked + label::before {
  content: "";
  top: 4px;
  left: 0;
  position: absolute;
  width: 54px;
  height: 54px;
}

input[type="radio"]:checked + label::after {
  content: "";
  top: 20px;
  left: 16px;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: @black;
  border-radius: 50%;
}

input[type="radio"]:checked + label:hover::before {
  background-color: @grey;
}

input[type="radio"]:checked + label:active::before {
  background-color: @white-eight;
}

input[type="radio"]:checked + label:active::after {
  background-color: @black-30;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  top: -15px;
  left: -55px;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: @light-grey;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  top: 0;
  left: -40px;
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label:hover::before {
  background-color: @grey;
}

input[type="checkbox"]:checked + label:active::before {
  background-color: @white-eight;
}

input[type="checkbox"]:checked + label:active::after {
  opacity: 0.3;
}

.fieldset {
  border: none;

  &--user-name {
    display: flex;
  }

  &--impression {
    box-sizing: border-box;
    width: 314px;
    min-height: 250px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  &--attractions {
    box-sizing: border-box;
    width: 210px;
    min-height: 350px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    display: block;
    width: 324px;
    padding: 0;
    margin: 0;
    margin-bottom: 75px;

    &--user-name {
      box-sizing: border-box;
      order: 1;
      padding-left: 40px;
    }

    &--contacts {
      width: 100%;
      order: 1;
    }

    &--impression {
      order: 0;
      border-right: 1px solid @grey;
      box-sizing: border-box;
      padding-right: 40px;
    }

    &--attractions {
      width: 100%;
      order: 1;
      padding-left: 120px;
      min-height: 150px;
      margin-bottom: 65px;
    }

    &--emotions {
      width: 100%;
      order: 1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 480px;

    &--contacts {
      width: 100%;
    }

    &--attractions {
      width: 100%;
      padding-left: 100px;
    }

    &--emotions {
      width: 100%;
    }
  }
}

.fieldset__legend {
  font-weight: bold;
  font-size: 18px;

  &--radio {
    min-width: 235px;
    margin-bottom: 30px;
  }

  &--attractions {
    min-width: 235px;
    margin-bottom: 47px;
  }

  @media (min-width: @tablet-width) {
    min-width: 163px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: @black-two;
    margin-bottom: 40px;

    &--radio {
      min-width: 235px;
    }

    &--attractions {
      width: 278px;
      margin-bottom: 47px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        left: 360px;
        top: 12px;
        background-color: @grey;
      }

      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        right: 360px;
        top: 12px;
        background-color: @grey;
      }
    }

    &--contacts {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        left: 360px;
        top: 12px;
        background-color: @grey;
      }

      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        right: 360px;
        top: 12px;
        background-color: @grey;
      }
    }

    &--emotions {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        left: 345px;
        top: 12px;
        background-color: @grey;
      }

      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        right: 345px;
        top: 12px;
        background-color: @grey;
      }
    }
  }


  @media (min-width: @desktop-width) {
    &--contacts {
      &::after {
        width: 210px;
      }

      &::before {
        width: 210px;
      }
    }

    &--attractions {
      &::after {
        width: 210px;
      }

      &::before {
        width: 210px;
      }
    }

    &--emotions {
      &::after {
        width: 210px;
      }

      &::before {
        width: 210px;
      }
    }
  }
}

.fieldset__label {
  min-width: 36px;
  min-height: 17px;
  font-size: 14px;
  line-height: 1.86;
  color: @black;

  &--radio {
    padding-left: 75px;
    margin-right: 0;
    margin-bottom: 20px;
    display: inline-block;
    min-width: 265px;
    line-height: 56px;
    position: relative;
    text-align: left;

    &:hover::before {
      background-color: @grey;
    }

    &:active::before {
      background-color: #d5d5d5;
    }

    &::before {
      content: "";
      top: 4px;
      left: 0;
      position: absolute;
      width: 54px;
      height: 54px;
      background-color: @light-grey;
      border-radius: 50%;
    }
  }

  &--checkbox {
    padding-left: 60px;
    margin-right: 0;
    margin-bottom: 55px;
    display: inline-block;
    min-width: 110px;
    position: relative;
    text-align: left;

    &:hover::before {
      background-color: @grey;
    }

    &:active::before {
      background-color: #d5d5d5;
    }

    &::before {
      content: "";
      top: -15px;
      left: -55px;
      display: inline-block;
      position: absolute;
      width: 54px;
      height: 54px;
      background-color: @light-grey;
      border-radius: 10%;
    }
  }

  &--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -75px;
      display: block;
      width: 58px;
      height: 58px;
      background-size: 18px 18px;
      background-color: @dark-grey;
      background-repeat: no-repeat;
      background-position: 20px 20px;
      background-image: url("../img/icon-mail.svg");
    }
  }

  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -67px;
      display: block;
      width: 58px;
      height: 58px;
      background-size: 18px 18px;
      background-color: @dark-grey;
      background-repeat: no-repeat;
      background-position: 20px 20px;
      background-image: url("../img/icon-phone.svg");
    }
  }


  @media (min-width: @tablet-width) {
    &--radio {
      min-width: 200px;
      width: 58px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.44;
      text-align: left;
      color: @black-two;
      text-transform: capitalize;
    }

    &--checkbox {
      padding-left: -10px;
      margin-right: 70px;
      min-width: 120px;
    }

    &--contacts {
      display: block;
      min-width: 162px;
      text-align: left;
      margin-bottom: 20px;
      position: relative;
    }

    &--email {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 31px;
        display: block;
        width: 58px;
        height: 58px;
        background-size: 18px 18px;
        background-color: @dark-grey;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-image: url("../img/icon-mail.svg");
      }
    }

    &--tel {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 31px;
        display: block;
        width: 58px;
        height: 58px;
        background-size: 18px 18px;
        background-color: @dark-grey;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-image: url("../img/icon-phone.svg");
      }
    }
  }


  @media (min-width: @desktop-width) {
    &--checkbox {
      padding-left: 40px;
      margin-right: 60px;
      min-width: 120px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--contacts {
      display: inline-block;
      min-width: 170px;
      text-align: right;
    }

    &--email {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -260px;
        top: -17px;
        display: block;
        width: 58px;
        height: 58px;
        background-size: 18px 18px;
        background-color: @dark-grey;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-image: url("../img/icon-mail.svg");
      }
    }

    &--tel {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -260px;
        display: block;
        top: -17px;
        width: 58px;
        height: 58px;
        background-size: 18px 18px;
        background-color: @dark-grey;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-image: url("../img/icon-phone.svg");
      }
    }
  }
}


.fieldset__input {
  box-sizing: border-box;

  height: 58px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @black-two;
  background-color: @light-grey;
  padding: 25px;
  margin-bottom: 10px;
  border: none;
  outline: none;

  &--name {
    width: 230px;
  }

  &--surname {
    width: 192px;
  }

  &--patronymic {
    width: 194px;
  }

  &:hover {
    background-color: @grey;
  }

  &:focus {
    border: solid 4px @grey;
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    min-width: 192px;
    height: 58px;
    font-size: 18px;

    &--surname {
      width: 192px;
    }

    &--patronymic {
      width: 194px;
    }
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    min-width: 192px;
    height: 58px;
    font-size: 18px;

    &--name {
      width: 350px;
    }

    &--surname {
      width: 315px;
    }

    &--patronymic {
      width: 314px;
    }

    &--contacts {
      display: inline-block;
      width: 257px;
    }
  }
}

.fieldset__textarea {
  box-sizing: border-box;
  width: 279px;
  height: 160px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @black-two;
  background-color: @light-grey;
  padding: 22px 30px 95px 21px;
  border: none;
  outline: none;

  &:hover {
    background-color: @grey;
  }

  &:focus {
    border: solid 4px @grey;
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.fieldset__radio {
  display: none;
}

.fieldset__checkbox {
  display: none;
}
