.form {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.form__wrapper {
  width: 100%;
}

.form__fillform {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
