.form {
  width: 100%;
}

.form__wrapper {
  width: 100%;
}

.form__fillform {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .form__fillform {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

  }
}
