.gallery {
  margin-bottom: 10px;
}

.gallery__list {
  margin-top: 24px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.gallery-item {
  padding: 21px;
  padding-top: 22px;
  padding-bottom: 14px;
  position: relative;
  border-bottom: solid 1px @grey;
  box-sizing: border-box;
  margin-bottom: 2px;

  &:nth-child(1) {
    border-top: solid 1px @grey;
    margin-bottom: 1px;
  }

  &:nth-child(3) {
    margin-bottom: 1px;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 347px;
    padding: 0;
    background-color: @light-grey;
    margin-bottom: 0;

    &:nth-child(1) {
      width: 648px;
      height: 480px;
      margin: 0 auto;
      border-top: none;
    }

    &:nth-child(2) {
      margin-left: 60px;
    }

    &:nth-child(3) {
      margin-right: 60px;
      background-color: @dark-grey;
    }

    &:nth-child(4) {
      margin-left: 60px;
      margin-right: auto;
      background-color: @dark-grey;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    height: 267px;
    padding: 0;
    background-color: @light-grey;
    margin-bottom: 0;
    position: relative;

    &:nth-child(1) {
      width: 100%;
      height: 400px;
      margin: 0 auto;
    }

    &:nth-child(2) {
      margin-left: 0;
    }

    &:nth-child(3) {
      margin-right: 0;
      background-color: @dark-grey;
    }

    &:nth-child(4) {
      margin-left: 0;
      margin-right: 0;
      background-color: @dark-grey;
    }
  }
}

.gallery-item__image {
  display: block;
  width: 280px;
  height: 280px;
  background-color: @faded-blue;


  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
    margin: 0 auto;

    &--wide {
      width: 648px;
      height: 400px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    height: 267px;
    margin: 0 auto;

    &--wide {
      width: 100%;
      height: 400px;
    }
  }
}

.gallery-item__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: @black;
  text-transform: none;
  position: relative;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 13px 0 28px 19px;
    margin: 0 auto;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    height: 80px;
    position: absolute;
    bottom: 0;
    padding: 14px 0 27px 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    color: @white;
    background-color: @black-30;
  }
}

.gallery-item__title {
  display: block;
  min-width: 179px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: @black-two;
  text-align: left;
  text-transform: uppercase;
  padding-top: 1px;

  @media (min-width: @tablet-width) {
    text-transform: uppercase;
    display: block;
    min-width: 112px;
  }

  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.gallery-item__likes {
  display: block;
  width: 31px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: @black-two;
  text-align: left;
  margin-left: 37px;
  margin-top: 9px;
  position: relative;

  @media (min-width: @tablet-width) {
    position: absolute;
    min-width: 15px;
    right: 22px;
    bottom: 51px;
    display: inline-block;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    color: @white;
    right: 23px;
    bottom: 40px;

    &::before {
      fill: @white;
    }
  }
}

.gallery-item__icon-like {
  display: inline-block;
  position: absolute;
  top: -3px;
  opacity: 0.3;
  left: -37px;

  @media (min-width: @tablet-width) {
    top: 0;
    left: -32px;
  }

  @media (min-width: @desktop-width) {
    fill: @white;
    opacity: 1;
  }
}
