.gallery__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 68px;
  }
}

.gallery-item {
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  border-bottom: solid 1px @grey;
  box-sizing: border-box;
  @media (min-width: @tablet-width) {
    width: 324px;
    height: 347px;
    padding: 0;
    background-color: @light-grey;
    margin-bottom: 0px;
    &--photo-1 {
      width: 648px;
      height: 480px;
      margin: 0 auto;
    }
    &--photo-2 {
      margin-left: 60px;
    }
    &--photo-3 {
      margin-right: 60px;
      background-color: @dark-grey;
    }
    &--photo-4 {
      margin-left: 60px;
      margin-right: auto;
      background-color: @dark-grey;
    }
  }
}

.gallery-item__image {
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  &--photo-1 {
    background-image: url(../img/photo-sunset-mobile@1x.jpg);
  }
  &--photo-2 {
    background-image: url(../img/photo-cactus-mobile@1x.jpg);
  }
  &--photo-3 {
    background-image: url(../img/photo-roads-mobile@1x.jpg);
  }
  &--photo-4 {
    background-image: url(../img/photo-bridge-mobile@1x.jpg);
  }
  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
    margin: 0 auto;
    &--photo-1 {
      width: 648px;
      height: 400px;
      background-image: url(../img/photo-sunset-tablet@1x.jpg);
    }
    &--photo-2 {
      background-image: url(../img/photo-cactus-tablet@1x.jpg);
    }
    &--photo-3 {
      background-image: url(../img/photo-roads-tablet@1x.jpg);
    }
    &--photo-4 {
      background-image: url(../img/photo-bridge-tablet@1x.jpg);
    }
  }
}

.gallery-item__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: @black;
  text-transform: capitalize;
  @media (min-width: @tablet-width) {
    display: block;
    width: 179px;
    margin-left: 20px;
    text-transform: capitalize;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 27px;
  }
}

.gallery-item__title {
  display: block;
  min-width: 179px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: @black-two;
  text-align: left;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    text-transform: uppercase;
    display: block;
    min-width: 112px;
  }
}

.gallery-item__likes {
  display: block;
  width: 23px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: @black-two;
  text-align: left;
  margin-left: 40px;
  &:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 20px;
    background: url(../img/icon-like.svg);
    opacity: 0.3;
    left: 20px;
  }
  @media (min-width: @tablet-width) {
    position: absolute;
    min-width: 15px;
    right: 20px;
    bottom: 40px;
    &:before {
      left: -30px;
    }
  }
}
