.main-nav {
  width: 320px;
  background-color: #81b3d2;
  margin-bottom: 20px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 50px;

}

.main-nav__toggle {
  display: block;
  width: 23px;
  height: 21px;
  position: absolute;
  top: 275px;
  right: 46px;
  fill: @light-grey-blue;
  border: none;
  background-color: @white;
}

.main-nav__img-wrapper {
  width: 318px;
  height: 389px;
  margin-top: 60px;
  background: url("../img/back-mobile-jpg.png");
  background-position: -220px 0px;
  background-repeat: no-repeat;
  margin: 60px auto;
  position: relative;
  &--photo {
    position: relative;
    height: 158px;
    margin-bottom: 45px;
    background-position: -230px -220px;
    background-repeat: no-repeat;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    background-size: 100% 26px;
    height: 26px;
    bottom: 0px;
  }
}

.main-nav__text {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 281px;
  height: 214px;
  object-fit: contain;
  &--photo {
    position: absolute;
    top: 52px;
    left: 46px;
    width: 229px;
    height: 39px;
  }
}

.main-nav__triangle {
  position: absolute;
  top: 363px;
  left:-2px;
  width: 322px;
  &--photo {
  position: absolute;
  top: 133px;
  left:-2px;
  width: 322px;
  }
}


.site-list {
  list-style: none;
  padding: 0;
  background-color: @light-grey-blue;
  text-transform: uppercase;
  color: @white;
  position: relative;

}

.site-list__item {
  .link;
  width: 320px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  box-shadow: inset 0px 1px 0 0 @white-20;
  &--link {
    .link;
    width: 320px;
    height: 55px;
    display: block;
    color: @white;
    text-align: center;
    padding-top: 10px;
    &:hover {
      background-color: @bg-hover;
    }
    &:active {
      background-color: @bg-active;
      color: @white-30;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
    height: 56px;
  }

  .main-nav__wrapper {
    width: 768px;
    margin: 0 auto;
    height: 56px;

  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    min-height: 56px;
    margin: 0 auto;
    color: @black-two;
    background-color: @white;

  }

  .site-list__item {
    width: 140px;
    margin: 0;
    height: 56px;

    &--logo {
      width: 156px;
      height: 56px;
    }

    &--link {
      width: 100%;
      height: 100%;
      padding-top: 5px;
      color: @black-two;
      box-sizing: border-box;
    }
  }


  .main-nav__toggle {
    display: none;
  }

  .main-nav__img-wrapper {
    width: @tablet-width;
    height: 518px;
    background: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;

    &--photo {
      position: relative;
      height: 300px;
      margin-bottom: 45px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      background-image: url(../img/bg-intro-triangle-tablet.svg);
      background-size: 100% 57px;
      height: 57px;
      bottom: -1px;
    }
  }

  .main-nav__text {
    position: absolute;
    top: 77px;
    left: 154px;
    width: 460px;
    height: 350px;
    object-fit: contain;
    &--photo {
      position: absolute;
      bottom: 116px;
      left: 152px;
      width: 460px;
      height: 80px;
    }

  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: @white;
  }
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 814px;
    margin: 0;
    background-color: red;
    color: @black;
  }

  .site-list__item {
    width: 239px;
    margin: 0;
    padding: 5px;
  }

  .user-list {
    display: none;
  }
}
