.main-nav {
  width: 320px;
  background-color: #81b3d2;
  margin-bottom: 20px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 50px;
}

.main-nav__toggle {
  position: absolute;
  right: 13px;
}

.main-nav__img-wrapper {
  width: 318px;
  height: 389px;
  margin-top: 60px;
  background: url("../img/back-mobile-jpg.png");
  margin: 60px auto;
  position: relative;
}

.main-nav__text {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 281px;
  height: 214px;
  object-fit: contain;

  &--photo{
  height: 158px;
  background: url("../img/back-mobile-jpg.png");
  }
}

.main-nav__triangle {
  position: absolute;
  top: 363px;
  left:-2px;
  width: 322px;
}


.site-list {
  list-style: none;
  padding: 0;
  background-color: @light-grey-blue;
  text-transform: uppercase;
  color: @white;
}

.site-list__item {
  .link;
  width: 320px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  box-shadow: inset 0px 1px 0 0 @white-20;
  &--link {
    .link;
    width: 320px;
    height: 55px;
    display: block;
    color: @white;
    text-align: center;
    padding-top: 10px;
    &:hover {
      background-color: @bg-hover;
    }
    &:active {
      background-color: @bg-active;
      color: @white-30;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: @white;
  }

  .main-nav__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    min-height: 56px;
    margin: 0;
    background-color: @white;
    color: @black;
  }

  .site-list__item {
    width: 153px;
    margin: 0;
    padding: 5px;
  }
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: @white;
  }
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 814px;
    margin: 0;
    background-color: red;
    color: @black;
  }

  .site-list__item {
    width: 239px;
    margin: 0;
    padding: 5px;
  }

  .user-list {
    display: none;
  }
}
