.offer {
  &__list {
    width: 230px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: @black;
    list-style: none;
    padding: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    color: @black-three;
  }
}
