.page {
  width: 320px;
  font-family: "PTSans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-weight: normal;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

#map {
  width: 100%;
  height: 100%;
  z-index: 10;
}
