.page-footer {
  width: 320px;
  margin: 0 auto;
  margin-top: 41px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    height: 120px;
    margin: 0 auto;
    margin-top: 41px;

  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    height: 120px;
  }
}
