.page-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-header__wrapper {

}

.page-header__logo {
  position: absolute;
  top: 260px;
  left: 110px;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    position: relative;
  }


  .page-header__logo {
    position: absolute;
    top: 0;
    left: 338px;
    order: 2;
    height: 102px;
}
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}

