.reservation {
  width: 320px;
  font-size: 14px;
  line-height: 1.71;
  color: @black;
  margin: auto;
}

.reservation__wrapper {
  width: 100%;
}

.reservation__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: @black-three;
}

.reservation__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  line-height: 1.24;
  padding: 15px;
}
