.reservation {
  width: 320px;
  font-size: 14px;
  line-height: 1.71;
  color: @black;
  margin: auto;
  margin-top: 33px;
}

.reservation__wrapper {
  width: 100%;
}

.reservation__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: @black-three;
  margin-bottom: 20px;
}

.reservation__description {
  margin: 0 auto;
  width: 270px;
  margin-bottom: 40px;
}

.reservation__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  line-height: 1.24;
  padding: 15px;
  margin-bottom: 49px;
}

.reservation__map {
  margin-top: 49px;
  background: url("../img/bg-map-mobile@1x.jpg");
  width: 320px;
  height: 350px;
  object-fit: contain;
}

@media (min-width: @tablet-width) {
  .reservation {
    width: @tablet-width;
    font-size: 14px;
    line-height: 1.71;
    color: @black;
    margin: auto;
    margin-top: 57px;
  }
  .reservation__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
    color: @black-two;
    margin-bottom: 20px;
  }


  .reservation__description {
    width: 454px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .reservation__button {
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 1.24;
    padding: 15px;
    margin-bottom: 49px;
  }

  .reservation__map {
    background: url("../img/bg-map-tablet@1x.jpg");
    width: 768px;
    height: 350px;
  }
}
