.social {
  margin-top: 45px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 150px;
    display: block;
    box-sizing: border-box;
    height: 48px;
    margin: 0 auto;
  }
}

.social__list {
  display: flex;
  list-style: none;
  padding-left: 84px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-left: 6px;
    margin-top: 2px;
  }
}

.social__item {
  .button;
  width: 46px;
  height: 48px;
  background-color: @light-grey-blue;
  margin-left: 0;
  margin-right: 6px;
}

.social__link {
  display: block;
  box-sizing: border-box;
  width: 46px;
  height: 48px;

  &:focus {
    background-color: @bg-hover;
  }
}

.social__icon {
  display: block;
  fill: @white;

  &:active {
    fill: @white-30;
  }


  &--twitter {
    width: 18px;
    height: 14px;
    padding: 15px 15px;
  }

  &--facebook {
    width: 9px;
    height: 18px;
    padding: 13px 19px;
  }

  &--youtube {
    width: 20px;
    height: 14px;
    padding: 16px 13px;
  }
}
