.social {
}

.social__list {
  display: flex;
  list-style: none;
  padding-left: 84px;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: @light-grey-blue;
  margin-right: 10px;
}

.social__link {
  &--facebook {

  }
}
