@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.page {
  width: 320px;
  font-family: "PTSans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page {
    width: 1200px;
  }
}
.link {
  text-decoration: none;
  outline: none;
}
.page-header {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}
/*.page-header__logo {
  position: absolute;
  top: 220px;
  left: 110px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 330px;
    order: 2;
    height: 102px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 520px;
    order: 2;
    height: 102px;
  }
}*/
.page-header__img-wrapper {
  width: 318px;
  height: 389px;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-position: -220px 0;
  background-repeat: no-repeat;
  margin: 60px auto;
  margin-top: 60px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .page-header__img-wrapper {
    background: url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header__img-wrapper--photo {
  position: relative;
  height: 158px;
  margin-bottom: 45px;
  background-position: -230px -220px;
  background-repeat: no-repeat;
}
.page-header__img-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: 100% 26px;
  height: 26px;
  bottom: 0;
}
@media (min-width: 768px) {
  .page-header__img-wrapper {
    width: 768px;
    height: 518px;
    background: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0;
    margin: 0 auto;
  }
  .page-header__img-wrapper--photo {
    height: 300px;
    margin-bottom: 45px;
    background-position: 0 0;
  }
  .page-header__img-wrapper::after {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 100% 57px;
    height: 57px;
    bottom: -1px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__img-wrapper {
    background: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header__img-wrapper {
    width: 1200px;
    height: 518px;
    background: url("../img/bg-back-desktop@1x.jpg");
    background-position: 0 0;
    margin: 0 auto;
  }
  .page-header__img-wrapper--photo {
    height: 300px;
    margin-bottom: 45px;
    background-position: 0 0;
  }
  .page-header__img-wrapper::after {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-size: 100% 57px;
    height: 57px;
    bottom: -1px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__img-wrapper {
    background: url("../img/bg-back-desktop@2x.jpg");
  }
}
.page-header__text {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 281px;
  height: 214px;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-header__text--photo {
  position: absolute;
  top: 52px;
  left: 46px;
  width: 229px;
  height: 39px;
}
@media (min-width: 768px) {
  .page-header__text {
    top: 77px;
    left: 154px;
    width: 460px;
    height: 350px;
  }
  .page-header__text--photo {
    bottom: 116px;
    left: 152px;
    width: 460px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .page-header__text {
    left: 380px;
  }
  .page-header__text--photo {
    left: 380px;
  }
}
.main-nav {
  width: 320px;
  background-color: #81b3d2;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    height: 56px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: auto;
    margin: 0;
    height: 56px;
  }
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 768px;
    margin: 0 auto;
    height: 51px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: auto;
    margin: 0 auto;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav--closed .main-nav__toggle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  bottom: -40px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 17px;
  left: auto;
  right: 20px;
  width: 23px;
  height: 21px;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}
.main-nav__logo {
  position: absolute;
  left: 110px;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav__logo {
    top: 0;
    left: 330px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 102px;
  }
}
@media (min-width: 1200px) {
  .main-nav__logo {
    top: 0;
    left: 520px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 102px;
  }
}
.main-nav--closed .page-header__logo {
  position: absolute;
  top: 55px;
  left: 110px;
  z-index: 1;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
.site-list {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  position: relative;
}
@media (min-width: 768px) {
  .site-list {
    width: 768px;
    min-height: 56px;
    margin: 0 auto;
    color: #000000;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 1200px;
    min-height: 56px;
    margin: 0 auto;
    color: #000000;
    background-color: #ffffff;
  }
}
.site-list__item {
  width: 320px;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.site-list__item--link {
  text-decoration: none;
  outline: none;
  width: 320px;
  height: 55px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
.site-list__item--link:hover {
  background-color: #669ec0;
}
.site-list__item--link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-list__item {
    width: 140px;
    height: 56px;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
  }
  .site-list__item:nth-child(2) {
    margin-right: 160px;
  }
  .site-list__item--logo {
    width: 156px;
    height: 56px;
  }
  .site-list__item--link {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    color: #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .site-list__item--link:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }
  .site-list__item--link:active {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.3);
  }
  .site-list__item--active {
    color: #766357;
  }
  .site-list__item--active:hover {
    color: #604e43;
  }
  .site-list__item--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    width: 239px;
    height: 56px;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
  }
  .site-list__item--active {
    color: #766357;
  }
  .site-list__item--active:hover {
    color: #604e43;
  }
  .site-list__item--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
.page-main {
  width: 100%;
}
.about {
  width: 255px;
  height: 149px;
  line-height: 1.44;
  color: #333333;
  margin: auto;
}
@media (min-width: 768px) {
  .about {
    width: 490px;
    line-height: 1.86;
    margin-top: 51px;
  }
}
@media (min-width: 1200px) {
  .about {
    width: 100%;
  }
}
.about__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .about__title {
    width: 100%;
    font-size: 21px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .about__title {
    width: 490px;
  }
}
.about__text {
  font-size: 14px;
}
@media (min-width: 768px) {
  .about__text {
    min-width: 428px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .about__text {
    width: 490px;
  }
}
.advantages {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
  }
}
.advantages__wrapper {
  width: 100%;
}
.advantages__list {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    width: 1200px;
  }
}
.advantages__item {
  padding: 20px;
  background-color: #81b3d2;
  position: relative;
}
.advantages__item--blue-back {
  color: #ffffff;
}
.advantages__item--blue-back::before {
  content: "";
  display: block;
  width: 100%;
  height: 37px;
  position: absolute;
  background: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
  top: -15px;
  left: 0;
}
.advantages__item--grey-back {
  color: #333333;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .advantages__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 256px;
    height: 256px;
  }
  .advantages__item--blue-back {
    padding: 40px 45px;
  }
  .advantages__item--blue-back::before {
    display: none;
  }
  .advantages__item--grey-back {
    padding: 40px 45px;
  }
  .advantages__item:nth-child(n+4):not(.advantages__image--bridge) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 400px;
  }
}
.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: inherit;
}
@media (min-width: 768px) {
  .advantages__title {
    width: 151px;
    font-size: 21px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .advantages__description {
    min-width: 162px;
  }
}
.advantages__image {
  background-color: #81b3d2;
  width: 320px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantages__image--city {
  background: url("../img/main-city-mobile@1x.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .advantages__image--city {
    background: url("../img/main-city-mobile@2x.jpg");
  }
}
.advantages__image--bridge {
  background: url("../img/main-bridge-mobile@1x.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .advantages__image--bridge {
    background: url("../img/main-bridge-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .advantages__image {
    width: 512px;
    height: 256px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .advantages__image--city {
    background: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
  .advantages__image--bridge {
    background: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .advantages__image--city {
    background: url("../img/main-city-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .advantages__image--bridge {
    background: url("../img/main-bridge-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .advantages__image {
    width: 800px;
  }
  .advantages__image--city {
    background: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -70px;
  }
  .advantages__image--bridge {
    background: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -80px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .advantages__image--city {
    background: url("../img/main-city-desktop@2x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .advantages__image--bridge {
    background: url("../img/main-bridge-desktop@2x.jpg");
  }
}
.offer {
  text-align: left;
}
@media (min-width: 768px) {
  .offer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 66px;
  }
}
.offer__list {
  width: 320px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
  list-style: none;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .offer__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.offer__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .offer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 256px;
  }
  .offer__item:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1200px) {
  .offer__item {
    width: 400px;
  }
}
.offer__title {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  margin-top: 15px;
  margin-left: 49px;
  margin-bottom: 0;
}
.offer__title--housing::before {
  content: "";
  background-image: url("../img/icon-house.svg");
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: 33px 38px;
  width: 33px;
  height: 38px;
  left: 0;
  fill: red;
}
.offer__title--souvenirs::before {
  content: "";
  background-image: url("../img/icon-gift.svg");
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: 33px 38px;
  width: 33px;
  height: 38px;
  left: 0;
  fill: red;
}
.offer__title--food::before {
  content: "";
  background-image: url("../img/icon-burger.svg");
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: 33px 38px;
  width: 33px;
  height: 38px;
  left: 0;
  fill: red;
}
@media (min-width: 768px) {
  .offer__title {
    margin: 0 auto;
    margin-top: 100px;
  }
  .offer__title--housing::before {
    content: "";
    background-size: 75px 72px;
    width: 75px;
    height: 72px;
    top: 10px;
    left: 90px;
    fill: red;
  }
  .offer__title--souvenirs::before {
    content: "";
    background-size: 64px 75px;
    width: 64px;
    height: 75px;
    top: 10px;
    left: 90px;
    fill: red;
  }
  .offer__title--food::before {
    content: "";
    background-size: 77px 68px;
    width: 77px;
    height: 68px;
    top: 10px;
    left: 90px;
    fill: red;
  }
}
@media (min-width: 1200px) {
  .offer__title--housing::before {
    left: 160px;
  }
  .offer__title--souvenirs::before {
    left: 170px;
  }
  .offer__title--food::before {
    left: 160px;
  }
}
.offer__description {
  display: inline-block;
  width: 210px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  margin-left: 49px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .offer__description {
    text-align: center;
    width: 165px;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.offer__image {
  display: inline-block;
  fill: #81b3d2;
  margin-top: 10px;
}
.offer__image--housing {
  width: 37px;
  height: 36px;
}
.offer__image--souvenirs {
  width: 32px;
  height: 38px;
}
.offer__image--food {
  width: 40px;
  height: 35px;
}
.reservation {
  width: 320px;
  font-size: 14px;
  line-height: 1.71;
  color: #333333;
  margin: auto;
  margin-top: 33px;
}
@media (min-width: 768px) {
  .reservation {
    width: 768px;
    margin-top: 57px;
  }
}
@media (min-width: 1200px) {
  .reservation {
    width: 1200px;
  }
}
.reservation__wrapper {
  width: 100%;
}
.reservation__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .reservation__title {
    font-size: 30px;
    line-height: 0.87;
  }
}
@media (min-width: 1200px) {
  .reservation__title {
    width: 434px;
  }
}
.reservation__description {
  margin: 0 auto;
  width: 270px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .reservation__description {
    width: 454px;
  }
}
@media (min-width: 1200px) {
  .reservation__description {
    width: 434px;
  }
}
.reservation__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  line-height: 1.24;
  padding: 15px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .reservation__button {
    width: 458px;
  }
}
.reservation__map {
  margin-top: 49px;
  background: url("../img/bg-map-mobile@1x.jpg");
  width: 320px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .reservation__map {
    background: url("../img/bg-map-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .reservation__map {
    background: url("../img/bg-map-tablet@1x.jpg");
    width: 100%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reservation__map {
    background: url("../img/bg-map-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .reservation__map {
    background: url("../img/bg-map-desktop@1x.jpg");
    width: 100%;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .reservation__map {
    background: url("../img/bg-map-desktop@2x.jpg");
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 648px;
    height: 120px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    vertical-align: center;
    height: 120px;
    padding-top: 36px;
  }
}
.contacts {
  width: 136px;
  height: 16px;
  color: #000000;
}
@media (min-width: 768px) {
  .contacts {
    margin-top: 10px;
  }
}
.contacts__text {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  margin-left: 91px;
  margin-right: 93px;
}
@media (min-width: 768px) {
  .contacts__text {
    display: block;
    width: 136px;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}
.social {
  margin-top: 41px;
  margin-bottom: 51px;
}
@media (min-width: 768px) {
  .social {
    width: 150px;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 48px;
    margin: 0 auto;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 84px;
}
@media (min-width: 768px) {
  .social__list {
    padding-left: 0;
    margin: 0;
  }
}
.social__item {
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 0;
  margin-right: 6px;
}
.social__item:hover {
  background-color: #669ec0;
}
.social__item:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.social__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46px;
  height: 48px;
}
.social__icon {
  display: block;
  fill: #ffffff;
}
.social__icon:active {
  fill: rgba(255, 255, 255, 0.3);
}
.social__icon--twitter {
  width: 18px;
  height: 14px;
  padding: 15px 15px;
}
.social__icon--facebook {
  width: 9px;
  height: 18px;
  padding: 13px 19px;
}
.social__icon--youtube {
  width: 20px;
  height: 14px;
  padding: 16px 13px;
}
.copyright {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}
@media (min-width: 768px) {
  .copyright {
    min-width: 150px;
    height: 55px;
  }
}
.copyright__text {
  display: inline-block;
  width: 91px;
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
}
@media (min-width: 768px) {
  .copyright__text {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
    font-weight: normal;
    font-style: normal;
  }
}
.copyright__link {
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 27px;
}
.copyright__logo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34px;
  height: 27px;
  fill: #000000;
}
.copyright__logo:hover {
  fill: #81b3d2;
}
.copyright__logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright__logo {
    display: inline-block;
    vertical-align: baseline;
  }
}
.button {
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  font-weight: bold;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input[type="radio"]:checked + label::before {
  content: "";
  top: -15px;
  left: -65px;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: #f2f2f2;
  background-image: url("../img/icon-circle.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
}
input[type="radio"]:checked:hover {
  background-color: #e5e5e5;
}
input[type="checkbox"]:checked + label::before {
  content: "";
  top: -15px;
  left: -95px;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: #f2f2f2;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 16px 16px;
}
.fieldset {
  border: none;
}
.fieldset--impression {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  min-height: 250px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.fieldset--attractions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  min-height: 350px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .fieldset {
    display: block;
    width: 324px;
    padding: 0;
    margin: 0;
    margin-bottom: 75px;
  }
  .fieldset--user-name {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 40px;
  }
  .fieldset--contacts {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .fieldset--impression {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    border-right: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 40px;
  }
  .fieldset--attractions {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 120px;
    min-height: 150px;
    margin-bottom: 65px;
  }
  .fieldset--emotions {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1200px) {
  .fieldset {
    width: 480px;
  }
  .fieldset--contacts {
    width: 100%;
  }
  .fieldset--attractions {
    width: 100%;
    padding-left: 100px;
  }
  .fieldset--emotions {
    width: 100%;
  }
}
.fieldset__legend {
  font-weight: bold;
  font-size: 18px;
}
.fieldset__legend--radio {
  min-width: 235px;
  margin-bottom: 47px;
}
.fieldset__legend--attractions {
  min-width: 235px;
  margin-bottom: 47px;
}
@media (min-width: 768px) {
  .fieldset__legend {
    min-width: 163px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
    margin-bottom: 40px;
  }
  .fieldset__legend--radio {
    min-width: 235px;
  }
  .fieldset__legend--attractions {
    width: 278px;
    margin-bottom: 47px;
    position: relative;
  }
  .fieldset__legend--attractions::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    left: 360px;
    top: 12px;
    background-color: #e5e5e5;
  }
  .fieldset__legend--attractions::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    right: 360px;
    top: 12px;
    background-color: #e5e5e5;
  }
  .fieldset__legend--contacts {
    position: relative;
  }
  .fieldset__legend--contacts::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    left: 360px;
    top: 12px;
    background-color: #e5e5e5;
  }
  .fieldset__legend--contacts::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    right: 360px;
    top: 12px;
    background-color: #e5e5e5;
  }
}
.fieldset__legend--emotions {
  position: relative;
}
.fieldset__legend--emotions::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  left: 345px;
  top: 12px;
  background-color: #e5e5e5;
}
.fieldset__legend--emotions::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  right: 345px;
  top: 12px;
  background-color: #e5e5e5;
}
@media (min-width: 1200px) {
  .fieldset__legend--contacts::after {
    width: 210px;
  }
  .fieldset__legend--contacts::before {
    width: 210px;
  }
  .fieldset__legend--attractions::after {
    width: 210px;
  }
  .fieldset__legend--attractions::before {
    width: 210px;
  }
  .fieldset__legend--emotions::after {
    width: 210px;
  }
  .fieldset__legend--emotions::before {
    width: 210px;
  }
}
.fieldset__label {
  min-width: 36px;
  height: 11px;
  font-size: 14px;
  line-height: 1.86;
  color: #333333;
}
.fieldset__label--radio {
  margin-left: 30px;
  margin-right: 0;
  margin-bottom: 52px;
  display: inline-block;
  min-width: 177px;
  position: relative;
}
.fieldset__label--radio:hover::before {
  background-color: #e5e5e5;
}
.fieldset__label--radio:active::before {
  background-color: #d5d5d5;
  opacity: 0.3;
}
.fieldset__label--radio::before {
  content: "";
  top: -15px;
  left: -65px;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.fieldset__label--radio::before:hover {
  background-color: #e5e5e5;
}
.fieldset__label--radio::before:active::before {
  background-color: #d5d5d5;
  opacity: 0.3;
}
.fieldset__label--checkbox {
  margin-left: 30px;
  margin-right: 0;
  margin-bottom: 65px;
  display: inline-block;
  min-width: 110px;
  position: relative;
  text-align: left;
}
.fieldset__label--checkbox:hover::before {
  background-color: #e5e5e5;
}
.fieldset__label--checkbox:active::before {
  background-color: #d5d5d5;
  opacity: 0.3;
}
.fieldset__label--checkbox::before {
  content: "";
  top: -15px;
  left: -95px;
  display: inline-block;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: #f2f2f2;
  border-radius: 10%;
}
.fieldset__label--email {
  position: relative;
}
.fieldset__label--email::after {
  content: "";
  position: absolute;
  right: -75px;
  display: block;
  width: 58px;
  height: 58px;
  background-size: 18px 18px;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-image: url("../img/icon-mail.svg");
}
.fieldset__label--tel {
  position: relative;
}
.fieldset__label--tel::after {
  content: "";
  position: absolute;
  right: -67px;
  display: block;
  width: 58px;
  height: 58px;
  background-size: 18px 18px;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-image: url("../img/icon-phone.svg");
}
@media (min-width: 768px) {
  .fieldset__label--radio {
    margin-left: 50px;
    min-width: 200px;
    width: 58px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    text-align: left;
    color: #000000;
    text-transform: capitalize;
  }
  .fieldset__label--checkbox {
    margin-right: 100px;
    min-width: 120px;
  }
  .fieldset__label--contacts {
    display: block;
    min-width: 162px;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
  }
  .fieldset__label--email {
    position: relative;
  }
  .fieldset__label--email::after {
    content: "";
    position: absolute;
    right: 0;
    top: 31px;
    display: block;
    width: 58px;
    height: 58px;
    background-size: 18px 18px;
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-image: url("../img/icon-mail.svg");
  }
  .fieldset__label--tel {
    position: relative;
  }
  .fieldset__label--tel::after {
    content: "";
    position: absolute;
    right: 0;
    top: 31px;
    display: block;
    width: 58px;
    height: 58px;
    background-size: 18px 18px;
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-image: url("../img/icon-phone.svg");
  }
}
@media (min-width: 1200px) {
  .fieldset__label--checkbox {
    margin-right: 70px;
    min-width: 120px;
  }
  .fieldset__label--checkbox:last-child {
    margin-right: 0;
  }
  .fieldset__label--contacts {
    display: inline-block;
    min-width: 170px;
    text-align: right;
  }
  .fieldset__label--email {
    position: relative;
  }
  .fieldset__label--email::after {
    content: "";
    position: absolute;
    right: -260px;
    top: -17px;
    display: block;
    width: 58px;
    height: 58px;
    background-size: 18px 18px;
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-image: url("../img/icon-mail.svg");
  }
  .fieldset__label--tel {
    position: relative;
  }
  .fieldset__label--tel::after {
    content: "";
    position: absolute;
    right: -260px;
    display: block;
    top: -17px;
    width: 58px;
    height: 58px;
    background-size: 18px 18px;
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-image: url("../img/icon-phone.svg");
  }
}
.fieldset__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 192px;
  height: 58px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  background-color: #f2f2f2;
  padding: 25px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}
.fieldset__input--name {
  width: 230px;
}
.fieldset__input--surname {
  width: 192px;
}
.fieldset__input--patronymic {
  width: 194px;
}
.fieldset__input:hover {
  background-color: #e5e5e5;
}
.fieldset__input:active {
  border: solid 4px #e5e5e5;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .fieldset__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 192px;
    height: 58px;
    font-size: 18px;
  }
  .fieldset__input--surname {
    width: 192px;
  }
  .fieldset__input--patronymic {
    width: 194px;
  }
  .fieldset__input--contacts {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .fieldset__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 192px;
    height: 58px;
    font-size: 18px;
  }
  .fieldset__input--name {
    width: 350px;
  }
  .fieldset__input--surname {
    width: 315px;
  }
  .fieldset__input--patronymic {
    width: 314px;
  }
  .fieldset__input--contacts {
    display: inline-block;
    width: 257px;
  }
}
.fieldset__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 279px;
  height: 160px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  background-color: #f2f2f2;
  padding: 22px 30px 95px 21px;
  border: none;
  outline: none;
}
.fieldset__textarea:hover {
  background-color: #e5e5e5;
}
.fieldset__textarea:active {
  border: solid 4px #e5e5e5;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .fieldset__textarea {
    width: 100%;
  }
}
.fieldset__radio {
  display: none;
}
.fieldset__checkbox {
  display: none;
}
.form {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__wrapper {
  width: 100%;
}
.form__fillform {
  width: 100%;
}
@media (min-width: 768px) {
  .form__fillform {
    width: 648px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 61px;
  }
}
@media (min-width: 1200px) {
  .form__fillform {
    width: 960px;
  }
}
.form__required-field {
  display: none;
}
@media (min-width: 768px) {
  .form__required-field {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 60px;
  }
}
@media (min-width: 1200px) {
  .form__required-field {
    right: 120px;
  }
}
.form-button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  line-height: 1.24;
}
@media (min-width: 768px) {
  .form-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 324px;
    margin-left: 0;
    /*&::after {
      content: "* — обязательные поля";
      position: absolute;
      width: 200px;
      height: 11px;
      font-size: 14px;
      line-height: 1.86;
      text-align: right;
      color: @black;
      right: 60px;
      bottom: 30px;
    }*/
  }
}
@media (min-width: 1200px) {
  .form-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 480px;
    margin-left: 0;
    /*&::after {
      content: "* — обязательные поля";
      position: absolute;
      width: 200px;
      height: 11px;
      font-size: 14px;
      line-height: 1.86;
      text-align: right;
      color: @black;
      right: 120px;
    }*/
  }
}
.gallery__list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 68px;
  }
}
.gallery-item {
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  border-bottom: solid 1px #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .gallery-item {
    width: 324px;
    height: 347px;
    padding: 0;
    background-color: #f2f2f2;
    margin-bottom: 0;
  }
  .gallery-item--photo-1 {
    width: 648px;
    height: 480px;
    margin: 0 auto;
  }
  .gallery-item--photo-2 {
    margin-left: 60px;
  }
  .gallery-item--photo-3 {
    margin-right: 60px;
    background-color: #eaeaea;
  }
  .gallery-item--photo-4 {
    margin-left: 60px;
    margin-right: auto;
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .gallery-item {
    width: 400px;
    height: 267px;
    padding: 0;
    background-color: #f2f2f2;
    margin-bottom: 0;
    position: relative;
  }
  .gallery-item--photo-1 {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  .gallery-item--photo-2 {
    margin-left: 0;
  }
  .gallery-item--photo-3 {
    margin-right: 0;
    background-color: #eaeaea;
  }
  .gallery-item--photo-4 {
    margin-left: 0;
    margin-right: 0;
    background-color: #eaeaea;
  }
}
.gallery-item__image {
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
}
.gallery-item__image--photo-1 {
  /*background-image: url("../img/photo-sunset-mobile@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-sunset-mobile@2x.jpg");
    }*/
}
.gallery-item__image--photo-2 {
  /*background-image: url("../img/photo-cactus-mobile@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-cactus-mobile@2x.jpg");
    }*/
}
.gallery-item__image--photo-3 {
  /*background-image: url("../img/photo-roads-mobile@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-roads-mobile@2x.jpg");
    }*/
}
.gallery-item__image--photo-4 {
  /*background-image: url("../img/photo-bridge-mobile@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-bridge-mobile@2x.jpg");
    }*/
}
@media (min-width: 768px) {
  .gallery-item__image {
    width: 324px;
    height: 267px;
    margin: 0 auto;
  }
  .gallery-item__image--photo-1 {
    width: 648px;
    height: 400px;
  }
  .gallery-item__image--photo-2 {
    /*background-image: url("../img/photo-cactus-tablet@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/photo-cactus-tablet@2x.jpg");
      }*/
  }
  .gallery-item__image--photo-3 {
    /*background-image: url("../img/photo-roads-tablet@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/photo-roads-tablet@2x.jpg");
      }*/
  }
  .gallery-item__image--photo-4 {
    /*background-image: url("../img/photo-bridge-tablet@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/photo-bridge-tablet@2x.jpg");
      }*/
  }
}
@media (min-width: 1200px) {
  .gallery-item__image {
    width: 400px;
    height: 267px;
    margin: 0 auto;
  }
  .gallery-item__image--photo-1 {
    width: 100%;
    height: 400px;
  }
  .gallery-item__image--photo-2 {
    /*background-image: url("../img/photo-cactus-desktop@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/photo-cactus-desktop@2x.jpg");
      }*/
  }
  .gallery-item__image--photo-3 {
    /*width: 400px;
      background-image: url("../img/photo-roads-desktop@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/photo-roads-desktop@2x.jpg");
      }*/
  }
  .gallery-item__image--photo-4 {
    /*width: 400px;
      background-image: url("../img/photo-bridge-desktop@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/photo-bridge-desktop@2x.jpg");
      }*/
  }
}
.gallery-item__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: #333333;
  text-transform: capitalize;
  position: relative;
}
@media (min-width: 768px) {
  .gallery-item__text {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-transform: capitalize;
    padding: 15px 0 27px 20px;
    margin: 0 auto;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .gallery-item__text {
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.gallery-item__title {
  display: block;
  min-width: 179px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .gallery-item__title {
    text-transform: uppercase;
    display: block;
    min-width: 112px;
  }
}
@media (min-width: 1200px) {
  .gallery-item__title {
    color: #ffffff;
  }
}
.gallery-item__likes {
  display: block;
  min-width: 15px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
  text-align: left;
  margin-left: 40px;
  margin-top: 7px;
  position: relative;
}
@media (min-width: 768px) {
  .gallery-item__likes {
    position: absolute;
    min-width: 15px;
    right: 20px;
    bottom: 50px;
    display: inline-block;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .gallery-item__likes {
    color: #ffffff;
  }
  .gallery-item__likes::before {
    fill: #ffffff;
  }
}
.gallery-item__icon-like {
  display: inline-block;
  position: absolute;
  top: 0;
  opacity: 0.3;
  left: -40px;
}
@media (min-width: 768px) {
  .gallery-item__icon-like {
    left: -30px;
  }
}
@media (min-width: 1200px) {
  .gallery-item__icon-like {
    fill: #ffffff;
    opacity: 1;
  }
}
.video__wrapper {
  position: relative;
  z-index: 20;
}
.video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
    line-height: 0.87;
  }
}
.video__slogan {
  width: 240px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .video__slogan {
    width: 415px;
    margin-bottom: 68px;
  }
}
.video__video-clip {
  width: 321px;
  height: 201px;
  background-image: url("../img/video-mobile@1x.jpg");
  margin: 0 auto;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .video__video-clip {
    background-image: url("../img/video-mobile@1x.jpg");
  }
}
@media (min-width: 768px) {
  .video__video-clip {
    width: 648px;
    height: 499px;
    background-image: url("../img/video-tablet@1x.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .video__video-clip {
    background-image: url("../img/video-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .video__video-clip {
    width: 800px;
    height: 500px;
    background-image: url("../img/video-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .video__video-clip {
    background-image: url("../img/video-desktop@2x.jpg");
  }
}
.video__controls {
  position: absolute;
  bottom: -66px;
  right: 21px;
  width: 280px;
  height: 101px;
  background-color: rgba(0, 0, 0, 0.3);
}
.video__controls::before {
  content: "";
  display: block;
  width: 235px;
  height: 3px;
  position: absolute;
  background-color: #e5e5e5;
  opacity: 0.6;
  top: 17px;
  left: 20px;
}
.video__controls::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: #ffffff;
  top: 15px;
  left: 80px;
  border-radius: 50%;
  opacity: 1;
}
@media (min-width: 768px) {
  .video__controls {
    bottom: 0;
    right: 60px;
    width: 648px;
    height: 93px;
  }
  .video__controls::before {
    top: 45px;
    width: 389px;
    left: 80px;
    opacity: 0.6;
  }
  .video__controls::after {
    width: 10px;
    height: 10px;
    top: 42px;
    left: 180px;
  }
}
@media (min-width: 1200px) {
  .video__controls {
    right: 200px;
    width: 800px;
  }
  .video__controls::before {
    width: 540px;
  }
  .video__controls::after {
    left: 205px;
  }
}
.video__icons {
  fill: #5c6870;
  height: 20px;
  z-index: 10;
  bottom: 12px;
  position: absolute;
}
.video__icons:hover {
  fill: #333333;
}
.video__icons--replay {
  left: 25px;
  width: 16px;
}
.video__icons--replay:active {
  opacity: 0.3;
}
.video__icons--fullscreen {
  width: 32px;
  left: 237px;
  right: 23px;
}
.video__icons--fullscreen:active {
  opacity: 0.3;
}
.video__icons--subtitles {
  width: 32px;
  left: 174px;
}
.video__icons--subtitles:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .video__icons {
    fill: #ffffff;
    bottom: 20px;
  }
  .video__icons--replay {
    left: 25px;
    width: 16px;
  }
  .video__icons--replay:hover {
    fill: #ffffff;
    opacity: 0.6;
  }
  .video__icons--replay:active {
    opacity: 0.3;
  }
  .video__icons--fullscreen {
    width: 32px;
    left: 587px;
  }
  .video__icons--fullscreen:hover {
    fill: #ffffff;
    opacity: 0.6;
  }
  .video__icons--fullscreen:active {
    opacity: 0.3;
  }
  .video__icons--subtitles {
    width: 32px;
    left: 524px;
  }
  .video__icons--subtitles:hover {
    fill: #ffffff;
    opacity: 0.6;
  }
  .video__icons--subtitles:active {
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .video__icons--replay {
    left: 35px;
  }
  .video__icons--fullscreen {
    left: 738px;
  }
  .video__icons--subtitles {
    left: 675px;
  }
}
.video__grey-back {
  position: absolute;
  fill: #5c6870;
  width: 280px;
  height: 66px;
  background-color: #e5e5e5;
  bottom: 0;
}
@media (min-width: 768px) {
  .video__grey-back {
    display: none;
  }
}
.modal {
  display: none;
  width: 320px;
  height: 280px;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 46px;
  position: fixed;
  z-index: 200;
}
.modal--failure {
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -375px;
}
.modal--success {
  height: 323px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -25px;
}
@media (min-width: 768px) {
  .modal {
    padding-top: 59px;
  }
  .modal--failure {
    width: 400px;
    height: 347px;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -25px;
  }
  .modal--success {
    width: 640px;
    height: 347px;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -440px;
  }
}
.modal__intro {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .modal__intro {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
    color: #000000;
  }
  .modal__intro--failure {
    width: 240px;
  }
  .modal__intro--success {
    width: 414px;
  }
}
.modal__text {
  width: 207px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: center;
  color: #333333;
  text-transform: none;
  margin: 0 auto;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .modal__text {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .modal__text--failure {
    width: 277px;
  }
  .modal__text--success {
    width: 414px;
  }
}
.modal__button {
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  height: 58px;
  background-color: #81b3d2;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.modal__button:hover {
  background-color: #669ec0;
}
.modal__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.modal__button--success {
  width: 280px;
}
.modal__button--failure {
  width: 180px;
}
.modal__button-wrapper {
  width: 100%;
  height: 98px;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__button-wrapper {
    height: 146px;
    padding: 44px;
  }
}

/*# sourceMappingURL=style.css.map */
